<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="http://localhost:3001/assets/style.css">

<body>

<div id="app">
    <div><%-app%></div>
</div>


</body>

<script src="http://127.0.0.1:3001/assets/bundle.js"></script>

</html>